:root {
  --slate-blue-light:#7798c2;
  --dark-brown:#37312f;
  --mushroom: #807b75;
  --sand:#dad3c7;
  --sky-blue:#67a2ef;
  --light-grey:#a7b0b8;
  --charcoal:#4b4b55;
  --cdark-slate:#2f465f;
  --army-brown:#9d6a41;
  --powder-blue:#8bccfb;
  --medium-slate-blue:#5c71a0;
}

* {
  /* border: 2px solid gold; */
}

.navbar, navbar-menu {
display: flex;
  background-color: var(--sky-blue);
}

body {
  background-color: var(--sand);
}

.image {
  position: relative;
  width: 100%;
}

.photo-section {
  color: #37312f;
}

h1 {
  font-family: 'Liu Jian Mao Cao', cursive;
}

.card-color-create {
  background-color: var(--sand);
}

/* h2 {
  font-family: 'Roboto Slab', serif;
  position: absolute;
  top: 100px;
  left:0;
  width: 100%
  align-items: flex-end;
}

h2 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0);
  padding: 5px; */
  /* help from below link */
  /* https://stackoverflow.com/questions/44360722/add-text-over-images-next-to-each-other-with-react-inline-styles */
/* } */

/* h3 {
  font-family: 'Roboto Slab', serif;
  position: absolute;
  top: 450px;
  left:0; */
  /* bottom: 100px; */
  /* right:50px; */
  /* width: 100%
  align-items: flex-end;
/* } */

/* h3 span {
  color: red;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0);
  padding: 5px; */
  /* help from below link */
  /* https://stackoverflow.com/questions/44360722/add-text-over-images-next-to-each-other-with-react-inline-styles */
/* } */

.icon {
  width: 100%;
  justify-content: center;
}

.box {
  margin: 15px;
}
.foot{
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* align-content: space-between; */
  display:flex;
  align-items:left;
}
